@property --myColor1 {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

@property --myColor2 {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

@property --myColor3 {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

@property --myColor4 {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

@property --myColor5 {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

@property --myColor6 {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

@property --myColor7 {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

@property --myColor8 {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  border-bottom: solid 3px #e6e6e6;
  background-image: linear-gradient(
    90deg,
    var(--myColor1),
    var(--myColor2),
    var(--myColor3),
    var(--myColor4),
    var(--myColor5),
    var(--myColor6),
    var(--myColor7),
    var(--myColor8)
  );
  transition: --myColor1 1000ms, --myColor2 1200ms, --myColor3 1400ms, --myColor4 1800ms, --myColor5 2000ms, --myColor6 2200ms, --myColor7 2400ms,
    --myColor8 2600ms;

  &::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), white 75%);
  }
}
