@property --myColor1 {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

@property --myColor2 {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

.background {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  border-bottom: solid 3px #e6e6e6;
  background-image: linear-gradient(180deg, var(--myColor1), var(--myColor2));
  transition: --myColor1 1000ms, --myColor2 1000ms, opacity 1000ms;
  //opacity: 0;
}
