* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e9edf1;
  color: black;

  a {
    &:hover {
      color: #4988ce !important;
    }
  }
}
