* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border: solid 5px white;
  border-radius: 10000px;
}

::-webkit-scrollbar-thumb:hover {
  background: #808080;
}

body {
  background-color: #e9edf1;
  color: black;

  a {
    &:hover {
      color: #4988ce !important;
    }
  }
}
