.input {
  font-size: 18px;
  padding: 8px 12px 8px 12px;
  border-radius: 4px;
  outline-width: 0px;
  border: 2px solid transparent;
  transition: 250ms;

  &:focus {
    border: 2px solid #4988ce;
  }
}
