@use "../../app/fontColors.scss" as fontColors;

.post {
  width: 100%;
  max-width: 700px;
  height: auto;
  padding: 8px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 2px 4px 0px #d9d9d9;
  border: solid 1px #d9d9d9;
  margin-left: auto;

  --image-height: 42px;

  > .userData {
    width: 100%;
    height: var(--image-height);
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    .wrapper1 {
      width: var(--image-height);
      height: var(--image-height);
      border-radius: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: auto;
      }
    }

    .wrapper2 {
      height: 100%;
      margin-left: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2px;

      p {
        &:first-child {
          font-size: 15px;
          font-weight: 500;
        }

        &:nth-child(2) {
          font-size: 11px;
          font-weight: 500;
          color: fontColors.$grey;
        }
      }
    }
  }

  > .content {
    width: 100%;
    display: flex;
    flex-direction: column;

    > p {
      font-size: 17px;
    }

    .images {
      --gap: 4px;

      width: 100%;
      height: auto;
      height: 700px;
      display: flex;
      gap: var(--gap);
      align-items: flex-start;
      justify-content: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      overflow: auto;
      margin: 16px 0px 16px 0px;

      .image {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        flex-shrink: 0;
        overflow: hidden;
        background-color: #e9edf1;
        border-radius: 3px;

        img {
          width: 100%;
          height: auto;
        }
      }

      &:has(:nth-child(2)) {
        .image:nth-child(1),
        .image:nth-child(2) {
          width: calc((100% - var(--gap)) / 2);
        }
      }

      &:has(:nth-child(3)) {
        .image:nth-child(1) {
          width: 100%;
        }

        .image:nth-child(2),
        .image:nth-child(3) {
          width: calc((100% - var(--gap)) / 2);
        }
      }

      &:has(:nth-child(4)) {
        .image {
          width: calc((100% - var(--gap)) / 2) !important;
        }
      }

      &:has(:nth-child(5)) {
        .image:nth-child(1),
        .image:nth-child(2) {
          width: calc((100% - var(--gap)) / 2) !important;
        }

        .image {
          width: calc((100% - (2 * var(--gap))) / 3) !important;
        }
      }
    }

    > .options {
      width: 100%;
      height: auto;
      display: flex;
      border-top: solid 2px #e6e6e6;

      button {
        width: 100%;
        cursor: pointer;
        background-color: transparent;
        border: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 13px;
        font-weight: 600;
        color: fontColors.$grey;
        padding: 8px 0px 8px 0px;
        margin-top: 4px;
        transition: 250ms;
        border-radius: 3px;

        &:hover {
          background-color: #e6e6e6;
        }

        img {
          width: 22px;
          height: auto;
          aspect-ratio: 1/1;
        }

        span {
        }
      }
    }

    .comments {
      display: flex;
      flex-direction: column;
      gap: 0px;
      transition: 500ms;
      overflow: auto;
      max-height: 300px;
      scrollbar-gutter: stable both-edges;
      scroll-behavior: smooth;

      > * {
        &:nth-child(1n + 2):is(:not(.readMore)) {
          &:is(:not(.sendComment)) {
            animation: disableChild 500ms forwards;
            @keyframes disableChild {
              0% {
                display: block;
              }

              100% {
                display: none;
              }
            }
          }
        }
      }

      button.readMore {
        border: none;
        font-size: 17px;
        background-color: white;
        color: fontColors.$grey;
        cursor: pointer;
        transition: 250ms;
        border-radius: 3px;
        padding: 8px 0px 8px 0px;
        margin-top: 0px; // Minus gap of .comments

        &:hover {
          background-color: #e6e6e6;
        }
      }

      .sendComment {
        width: 100%;
        height: auto;
        display: none;
        margin-top: 16px;

        > .userData {
          width: 100%;
          height: var(--image-height);
          display: flex;
          align-items: center;
          margin-bottom: 8px;

          .wrapper1 {
            width: var(--image-height);
            height: var(--image-height);
            border-radius: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 100%;
              height: auto;
            }
          }

          .wrapper2 {
            height: 100%;
            margin-left: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2px;

            p {
              &:first-child {
                font-size: 15px;
                font-weight: 500;
              }

              &:nth-child(2) {
                font-size: 11px;
                font-weight: 500;
                color: fontColors.$grey;
              }
            }
          }
        }

        button {
          margin-left: auto;
          margin-top: 8px;
        }
      }
    }

    .comments.open {
      max-height: 800px;

      > * {
        animation: none !important;
        display: block;
      }

      .sendComment {
        display: block;
      }
    }
  }
}
