.userProfile {
  width: 100%;
  height: auto;
  background-color: transparent;
  position: relative;
  margin-top: 15px;

  .content {
    width: 100%;
    margin: 0px auto 0px auto;
    max-width: 1300px; // Same as Header and background components

    .posts {
      width: 700px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      margin-left: auto;
    }
  }
}
